.dog-box {
  margin-bottom: 30px;
}

body {
  background-color: #6F6F6F;
}

.container {
  background-color: #FCFCFC;
}

#featuredDog {
  height: 300px;
  width: 500px;
  background-color: #040404;
}

#dog img {
  height: 300px;
}

label {
  display: inline;
}

.img-fluid {
  margin: auto;
}


.doggyProfile {
  display: flex;
  flex-direction: row;
  align-self: auto,
  border-style: solid;
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px;
  
}

#close-profile {
  display: flex;
  align-self: flex-start;
  background-color: transparent;
}

.dog-form {
  width: 60%;
}

.dog-form-short {
  width: 40%;
}

.dog-form-x-short {
  width: 20%;
}

textarea {
  resize: none;
}

.btn {
  width: 200px;
}

