.dog-box {
  margin-bottom: 30px;
}

body {
  background-color: #6F6F6F;
}

.container {
  background-color: #FCFCFC;
}

#featuredDog {
  height: 300px;
}

#dog img {
  height: 300px;
}

label {
  display: inline;
}

.img-fluid {
  margin: auto;
}